
<div class="userview">
<h1>Sign In</h1>
<%= form_tag(signin_path) do%>
    <%= text_field_tag :"user[username]", nil, placeholder: "Username" %>
    <%= password_field_tag :"user[password]", nil, placeholder: "Password" %>
    <%= submit_tag :Login %>
    <p> - or - </p>
    <!-- <p id="googlein"><%= link_to "Log In with Google", '/auth/google_oauth2' %></p> -->
    <p id="googlein"><a href="/auth/google_oauth2"><img src="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png"></a></p>
<%end%>

</div>