<%= render partial: 'layouts/errors', locals: {object: @review}  %>

<div class="userview">
<h1>Edit Info</h1>
    <%= form_for @user do |f| %>
        
        <%= f.text_field :email, placeholder: @user.username %> <br>
        <%= f.text_field :favorite_wine %> <br>
        
        <%= f.submit value="Update Info" %>
    <% end %>
</div>