
<div class="userview">
    <h1>Sign Up</h1>
    <%= form_for @user do |f| %>
        <%= f.text_field :username, placeholder: "Enter a Username" %> <br>
        <%= f.text_field :email, placeholder: "Email Address" %> <br>
        <%= f.text_field :favorite_wine, placeholder: "Enter your favorite type of wine, grape, region, maker etc." %> <br>
        <%= f.password_field :password, placeholder: "Choose a password"%> <br>
        <p class="diffsubmit"><%= f.submit %></p>
    <% end %>
</div>
<p> check on all validations </p>
<p> Note for later - remember to consider other available database fields, i.e. birthdate, image </p>
<p> Note for later - consider add an admin function that will require some invite code or passphrase </p>
<p> Note for later - add a passwords must match field if possible </p>
<p> Remeber to limit characters and ensure unique username and email </p>
<p> also- downcase username and email </p>
<p> add ability for user to edit their username, email, password and favorite wine where possible </p>


