
<div class="userview">
    <div id="userdetails">
        <p>Username: <%= @user.username %></p>
    
        <p>Favorite Wine: <%= @user.favorite_wine %></p> 

        <p><%= @user.username %>'s Wines</p>
         

    <div id="useredit" class="alllinks">
        <% if @user == current_user %>

        <p><%= link_to "Edit Info", edit_user_path(@user) %> </p>
        <p><%= link_to "Add Wine", new_wine_path %> </p>
        

        <% end %>
    </div>
</div>
