<div id="showwinereview">
<h1>Wine Review</h1>
<div>
        <p><%= @review.title %></p>
        <p><%= @review.description %></p>
        <p>Fruit <%= @review.fruit %></p>
        <p>Tannin: <%= @review.tannin %></p>
        <p>Body: <%= @review.body %>%</p>
        <p>Balance: <%= @review.balance %></p>
        <p>Acidity: <%= @review.acidity %></p>
        <p>Flavors: <%= @review.flavors %></p>
        <p>Other Notes: <%= @review.other %></p>

        <p>Ratings</p>
        <p>Color: <%= @review.color %></p>
        <p>Taste: <%= @review.taste %></p>
        <p>Balance: <%= @review.balance_rating %></p>
        <p>The Wine Experience: <%= @review.wine_experience %></p>
        <p>Some Else Might like it Rating: <%= @review.someone_else_like %></p>
        <% @review.total = @review.color + @review.taste + @review.balance_rating + @review.wine_experience + @review.someone_else_like %>
        <% @rating = (@review.total / 25) * 100 %>
        <p>This Amatuer Wine review gives this wine <%= @rating %> points!</p>
        
               
    </div>
    <p><%= link_to "Edit Review", edit_review_path(@review) %> </p>
</div>