<div class="userview">
<h1>Add a Wine</h1>
<%= form_for @wine do |f| %>

    <%= f.text_field :wine_name, placeholder: @wine.wine_name%> 
        <br>   
    <%= f.number_field :vintage, placeholder: @wine.vintage %>
        <br>
    <%= f.select :style, options_for_select(["rose", "bordeaux", "burgundy", "meritage", "sparkling", "red", "white", "other"]), include_blank: true  %> 
        <br> 
    <%= f.text_field :grape, placeholder: @wine.grape %> 
        <br> 
    <%= f.number_field :alcohol, placeholder: @wine.alcohol %>
        <br>
      <%= f.text_field :region, placeholder: @wine.region %> 
        <br> 
    <%= f.text_field :vineyard, placeholder: @wine.vineyard %> 
        <br>
    <%= f.text_field :winemaker, placeholder: @wine.winemaker %> 
        <br> 
    <%= f.text_area :story, placeholder: @wine.story %> 
        <br>
  <%= f.submit value="Update Wine" %>
  </div>

<% end %>