
<%= form_tag("/wines", method: "get") do %>
                <%= select_tag "rose", options_for_select(["rose"]), prompt: 'Filter by style or type of wine' %>
 
                <%= submit_tag "Filter" %>
                <% end %>

<div>
    <ul id="winesul">
        <div id="thewines">
            <h1>The Wines</h1>
                
                
    <% @wines.each do |details| %>
    
    <li id="winesli">
    <div class="wholebottle">
  
        <div class="top">
            <p class="lip"></p>
            <p class="foilcutline"></p>
            <p class="foil"></p>
            <p class="neck"></p>
        </div>

        <div class="bottle main">
            <p></p>
            <p class="label">
                <div>
                    <p id="winename"><%= details.wine_name %></p>
       
                    <p id="vintage"><%= details.vintage %></p>
       
                    <p id="winestyle"><%= details.style %></p>
                </div>
            </p>    
        </div>
  
        </div>
        <%= link_to "View Wine", wine_path(details)%>
        </li>
        
        <% end %>
        </ul>
    
    </div>
