
<div class="userview">
    <div>
        <p>Wine: <%= @wine.wine_name %></p>
        <p>Vintage: <%= @wine.vintage %></p>
        <p>Style: <%= @wine.style %></p>
        <p>Grape: <%= @wine.grape %></p>
        <p>Alcohol: <%= @wine.alcohol %>%</p>
        <p>Region: <%= @wine.region %></p>
        <p>Vineyard: <%= @wine.vineyard %></p>
        <p>Winemaker: <%= @wine.winemaker %></p>
        <p>Story: <%= @wine.story %></p>
               
    </div> 
    <div class="listreviews">
          <ul>
            <% @wine_reviews.each do |list| %>
                <li>
                    <%= link_to list.title, review_path(list) %>
                </li>
            <%end%>
        </ul> 
    </div>
            

    <div id="useredit" class="alllinks">
        <p><%= link_to "Edit Wine", edit_wine_path(@wine) %></p>
        <p><%= link_to "Review this Wine", new_wine_review_path(@wine) %></p>
        <p><%= link_to 'Destroy', @wine, method: :delete %></p>

    </div>

</div>