<!DOCTYPE html>
<html>
  <head>
    <title>The Amateur Wine Reviewer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <div id="navbar">

      <div id="menu" > 
        <ul>
          <li>Reviewers</li>
          <li>Wines</li>
          <li>Reviews</li>
        </ul>
      </div>

      <div id="title">
        <h1>The Amateur Wine Reviewer</h1>
      </div>

      <div id="usermenu">
        <% if logged_in? %>
          <ul>
            <li>
              <ul><%= link_to  @user.username, user_path(@user) %></ul>
              <ul><%= link_to "Log Out", logout_path %></ul>
            </li>
        <%  end %>
      </div>
  </div>
  <br>
  

    <%= yield %>
  </body>
</html>
